<style>
.divTable{
  display:table;         
  width:auto;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.divrow{
  display:table-row;
  width:auto;
  clear:both;

}
.divcell{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;  
  padding-bottom: 20px;
  text-align: center;       
}

.tblbody{
  height:400px;
  overflow:auto;
}

.divheader{
  font-size: 30px;
}

div #divTable{
    border: 2px solid #a1a1a1;
    padding: 20px; 
    background: #dddddd;
    border-radius: 25px;
}
</style>