<div class="jumbotron">
  <h1>Express Send</h1>
  <p class="lead">
    Choose one of the options below
  </p>
  <p>
    <div class="options">
      <a href="/send" class="btn btn-lg btn-success">Send Money</span></a>
    </div>
    <div class="options">
      <a  href="/history" class="btn btn-lg btn-success">View Transaction History</a>
    </div>
  </p>
</div>

<div class="row marketing">
  <h4>Send Money</h4>
  <p>
    Easy way to send money
  </p>

  <h4>View Transactions</h4>
  <p>
    View your most recent transactions
  </p>
</div>
