<div class="divTable">
    <div  class="headRow">
        <div class="divCell">Date</div>
        <div class="divCell">Recepient</div>
        <div class="divCell">Amount</div>
    </div>
    <div id="tblbody" class="tblbody">
      <div class="divRow" ng-repeat="transaction in transactions">
          <div class="divCell">{{transaction.date}}</div>
          <div class="divCell">{{transaction.name}}</div>
          <div class="divCell">{{transaction.amount}}</div>
      </div>  
    </div>
</div>